.product{
    display: flex;
    border-bottom: 1px solid #b8b4b4;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.product-img{
   margin-right: 5px;
  
}
.product-info{
    padding: 10px;
}